<footer class="footer">
   <div class="row d-flex justify-content-center">
      <img src="{{ asset('assets/img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" class="mr-1"/>
      <p>Copyright &copy; OpenClassrooms</p>
   </div>
</footer>