{% if header_title is not defined or header_title is empty %}
    {% set header_title = "Bienvenue sur Todo List" %}
{% endif %}
{% if header_content is not defined or header_content is empty %}
    {% set header_content = "L'application vous permettant de gérer l'ensemble de vos tâches sans effort !" %}
{% endif %}
{% if header_class is not defined %}
    {% set header_class = "default" %}
{% endif %}


<div class="jumbotron jumbotron-fluid {{ header_class }}">
    <div class="bg"></div>
    <div class="container">
        <h1 class="display-4">{{ header_title }}</h1>
        <p class="lead">{{ header_content }}</p>
    </div>
</div>