{% for label, messages in app.flashes %}
    <div class="row">
        <div class="col-12 my-3">
            <div class="alert alert-{{ label }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% set prefix = label == 'success' ? 'Superbe' : 'Oops' %}
                {% for message in messages %}
                    <p class="message"> <strong>{{ prefix }} !</strong> {{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}