<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="equilateral.png" srcset="{{ asset('assets/img/logo_tdl.svg') }}" alt="logo To Do List" style="height:50px" />
            <span class="title-nav">To Do List App</span>
        </a>

        {% if app.user %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link {% if 'homepage' == app.request.attributes.get('_route') %}active{% endif %}">
                            <i class="fas fa-map-pin"></i> Accueil
                            {% if 'homepage' in app.request.get('_route') %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if 'task' in app.request.attributes.get('_route') %} active{% endif %}" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-tasks"></i> Tâches
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{{ path('task_create') }}" class="dropdown-item">
                                <i class="fas fa-plus-circle"></i> Créer une tâche
                            </a>
                            <a href="{{ path('task_list') }}" class="dropdown-item">
                                <i class="fas fa-tasks"></i> Consulter les tâches
                            </a>
                        </div>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if 'user' in app.request.attributes.get('_route') %} active{% endif %}" href="#" id="users" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-users"></i> Utilisateurs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="{{ path('user_create') }}" class="dropdown-item">
                                    <i class="fas fa-user-plus"></i> Créer un utilisateur
                                </a>
                                <a href="{{ path('user_list') }}" class="dropdown-item">
                                    <i class="fas fa-users"></i> Gérer les utilisateurs
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i> {{ app.user.username | title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarLogDropdown">
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('user_edit', {'id' : app.user.id}) }}" class="dropdown-item">
                                    <i class="far fa-address-card"></i> Mon profil
                                </a>
                            {% endif %}
                            <a href="{{ path('logout') }}" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i> Se déconnecter
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>