{% block _user_roles_widget %}
    <label>Rôle</label>
    {{ form_widget(form) }}
{% endblock %}

{% block _user_roles_entry_widget %}
    <div class="custom-control custom-radio custom-control-inline">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}