{% extends 'base.html.twig' %}

{% set header_title = 'Connexion' %}
{% set header_content = "Connectez vous pour accèder à l'application" %}

{% block body %}
    {% if error %}
        <div class="row justify-content-center mb-lg-2">
            <div class="col-4 my-3">
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        </div>
    {% endif %}

     <div class="row justify-content-center mb-lg-5">
        <div class="col-lg-4">
            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <label class="form-label" for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ username }}" autocomplete="off" autofocus required />
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">Mot de passe :</label>
                    <input type="password" id="password" class="form-control" name="_password" autocomplete="off" required />
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-secondary" type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
