{% extends 'base.html.twig' %}

{% set header_class = "big" %}

{% block body %}
    <div class="row mb-5">
        <div class="{% if is_granted("ROLE_ADMIN") %}col-sm-6{% else %}col-sm-12{% endif %}">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-tasks"></i> Gestion des tâches
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ path('task_create') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-plus-circle"></i> Créer une tâche
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('task_list') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-tasks"></i> Consulter la liste des tâches
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% if is_granted("ROLE_ADMIN") %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-users"></i> Gestion des Utilisateurs
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{{ path('user_create') }}" class="btn btn-outline-secondary">
                                <i class="fas fa-user-plus"></i> Créer un utilisateur
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('user_list') }}" class="btn btn-outline-secondary">
                                <i class="fas fa-users"></i> Gérer les utilisateurs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
