{% extends 'base.html.twig' %}

{% set header_title = 'Créer une tâche' %}
{% set header_content = "Remplisser le formulaire pour ajouter une nouvelle tâche" %}

{% block body %}
    <div class="row d-flex justify-content-end mb-3">
        <div class="col-auto">
            <a href="{{ path('task_list') }}" class="btn btn-secondary">
                <i class="fas fa-tasks"></i> Retour à la liste des tâches
            </a>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}
    
{% endblock %}
