{% extends 'base.html.twig' %}

{% set header_title %} Modification de la tâche <i>{{ task.title }}</i> {% endset %}
{% set header_content = "Modifier les données du formulaire pour modifier la tâche" %}

{% block body %}
    <div class="row d-flex justify-content-end mb-3">
        <div class="col-auto">
            <a href="{{ path('task_list') }}" class="btn btn-secondary">
                <i class="fas fa-tasks"></i> Retour à la liste des tâches
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <label>Auteur : </label> 
                {% if not task.isAnonymous %} 
                    {{ task.author.username | title }}   
                {% else %} 
                    ~ 
                {% endif %}<br>
                <label>Date de création : </label> {{task.createdAt | date('d/m/Y à H:i')}} <br>
                <label>Statut : </label>
                {% if task.isDone %}
                    <span class="badge badge-success">
                        <i class="fas fa-check-circle"></i> Terminée
                    </span>
                {% else %}
                    <span class="badge badge-warning text-white">
                        <i class="fas fa-spinner"></i> A faire
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}
    
{% endblock %}
