{% extends 'base.html.twig' %}

{% set header_title = 'Tâches en cours' %}
{% set header_content = "Liste de toutes les tâches enregistrées dans l'application" %}

{% block body %}
    {% if not app.user.isAnonymous %}
        <div class="row d-flex justify-content-end my-3">
            <div class="col-md-auto">
                <a href="{{ path('task_create') }}" class="btn btn-info">
                    <span class="fas fa-plus"></span> Créer une tâche
                </a>
            </div>
        </div>
    {% endif %}

    {% if tasks | length %}

        <!-- Filtres -->
        <div class="row d-flex justify-content-start mb-3">
            <div class="col-auto">
                <span class="h5">Filtrer</span>
                <div class="btn-group btn-group-sm filters" role="group" aria-label="filtrer les tâches">
                    <button type="button" class="btn btn-outline-secondary filter" data-filter="*"><i class="fas fa-tasks"></i> Toutes les tâches</button>
                    <button type="button" class="btn btn-outline-success filter" data-filter=".done"><i class="fas fa-check-circle"></i> Tâches terminées</button>
                    <button type="button" class="btn btn-outline-warning filter" data-filter=".undone"><i class="fas fa-spinner"></i> Tâches à faire</button>
                    <button type="button" class="btn btn-outline-info filter" data-filter=".mine"><i class="fas fa-user-circle"></i> Mes tâches</button>
                </div>
            </div>
        </div>

        <div class="row grid">
            {% for task in tasks %}
                <div class="col-lg-4 grid-item mb-4 {% if task.isDone %}done{% else %}undone{% endif %} {% if task.author == app.user %}mine{% endif %}">
                    <div class="card bg-light-gray d-flex justify-content-center">
                        <div class="card-header">
                            <div class="text-right">
                                {% if task.isDone %}
                                    <span class="badge badge-success">
                                        <i class="fas fa-check-circle"></i> Terminée
                                    </span>
                                {% else %}
                                    <span class="badge badge-warning text-white">
                                        <i class="fas fa-spinner"></i> A faire
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <p class="card-text">{{ task.content }}</p>
                            <p class="blockquote-footer">
                                <small class="text-muted">
                                    {% if not task.isAnonymous %} 
                                        {{ task.author.username | title }}<br/>
                                    {% endif %}    
                                    <cite>{{ task.createdAt|date('d/m/Y, H:i') }}</cite>
                                </small>
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <form action="{{ path('task_toggle', { 'id' : task.id }) }}">
                                {% if task.isDone %}
                                    <button class="btn btn-warning btn-sm text-white btn-toggle">
                                        <i class="fas fa-spinner"></i> A faire
                                    </button>
                                {% else %}
                                    <button class="btn btn-success btn-sm btn-toggle">
                                        <i class="fas fa-check-circle"></i> Terminée
                                    </button>
                                {% endif %}
                            </form>
                            {% if is_granted('EDIT', task) %}
                                <form action="{{ path('task_edit', { 'id' : task.id }) }}">
                                    <button class="btn btn-info btn-sm pull-right btn-edit">
                                        <i class="fas fa-edit"></i> Modifier
                                    </button>
                                </form>
                            {% endif %}
                            {% if is_granted('DELETE', task) %}
                                <form action="{{ path('task_delete', { 'id' : task.id }) }}">
                                    <button class="btn btn-danger btn-sm pull-right btn-delete">
                                        <i class="fas fa-trash-alt"></i> Supprimer
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="row">
            <div class="alert alert-dark" role="alert">
                Aucune tâche n'est encore enregistrée dans l'application.
            </div>
        </div>
    {% endif %}
    
{% endblock %}


{% block jsLibraries %}
    {{ parent() }}  
    <script src="{{ asset('assets/lib/isotope-3.0.6/isotope.pkgd.min.js') }}"></script>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/tasks_list.js') }}"></script>
{% endblock %}