html {
    width:100%;
    height: 100%;
}
body { 
    width:100vw;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/** ERRORS **/

.page-error {
    position: relative;
}
.page-error-inner{
    margin:0;
    padding:0;
    line-height: 1;
    height: 100vh;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.page-error-inner.page-403{
    background: url(../../assets/img/error403.jpg) no-repeat center fixed; 
}
.page-error-inner.page-404{
    background: url(../../assets/img/error404.jpg) no-repeat center fixed; 
}
.page-error-inner.page-500{
    background: url(../../assets/img/error500.jpg) no-repeat center fixed; 
}
.page-error-inner .large {
    margin-bottom: 12px;
    color: #DC3545;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bold;
    font-size: 8rem;
}
.page-error-inner .text {
    color: #353637;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}
.page-error .content {
    height: 50vh;
}