html {
    width:100%;
    height: 100%;
}
body { 
    padding-top: 66px;
    width:100vw;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow:1;
}

/** TYPOGRAPHY **/
.alert p,
.footer p {
    margin-bottom: 0;
}
label {
    font-weight: 600;
}

/** JUMBOTRON **/
.jumbotron {
    position: relative;
}

.jumbotron.big {
    padding: 8rem 2rem;
}

.jumbotron .bg {
    margin-bottom: 0;
    opacity: 0.3;
    color: #fff;
    background: #000 url('../../assets/img/todolist.jpg') top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/** NAVBAR **/
.navbar img {
    height: 50px;
}
.nav-item {
    margin: 0 1rem;
}
.navbar .title-nav {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

/** FOOTER **/
footer.footer img {
    height: 30px;
}
footer.footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: #000;
}

/** LOGIN **/
.col-form-label-sm {
    margin-bottom:0;
}

/** TASKS */
.filters .filter {
    cursor: pointer;
}

