<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
        <meta name="description" content="Projet de formation OpenClassRooms : To Do List">
        <meta name="author" content="Armelle Braud">
        <meta name="robots" content="none" />

        {% block head %}
            {% include "_partials/favicons.html.twig" %}
        {% endblock %}

        <title>{% block title %}To Do List app{% endblock %}</title>

        <!-- Librairies CSS -->
        <link href="{{ asset('assets/lib/bootstrap-4.4.1/css/bootstrap.min.css') }}" rel="stylesheet"> <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('/assets/fonts/font-awesome/css/all.css') }}" /> <!-- Font-Awesome icon -->

        <!-- Custom CSS -->
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"> <!-- Custom CSS -->
    </head>

    <body>
        <main>
            {# Nav #}
            {% block nav %}
                {% include "_partials/nav.html.twig" %}
            {% endblock %}

            {# Header #}
            {% block header %}
                {% include "_partials/header.html.twig" %}
            {% endblock %}

            {# main content area start #}
            <div class="container">
                {% block messages %}
                    {% include "_partials/messages.html.twig" %}
                {% endblock %}
                {% block body %}{% endblock %}
            </div>
        </main>

        {# footer area start #}
        {% block footer %}
            {% include "_partials/footer.html.twig" %}
        {% endblock %}

        <!-- Librairies CSS -->
        {% block jsLibraries %}
            <script src="{{ asset('assets/lib/jquery-3.4.1/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('assets/lib/bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block scripts %}{% endblock %}

    </body>
</html>
