{% extends "fullpage.html.twig" %}

{% block title %}Page non autorisée{% endblock %}

{% block main %}
    <div class="container-fluid page-error page-error p-0 m-0">
        <div class="row page-error-inner page-403">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="content col-lg-12 d-flex flex-column justify-content-center">
                    <p class="large text-center">403</p>
                    <p class="text text-center">Dommage.<br />Vous n'avez pas le droit d'accéder à cette ressource !</p>
                    <p class="text-center"><a href="{{ path('homepage') }}" class="btn btn-danger">Retour à l'accueil</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}