{% extends 'base.html.twig' %}

{% set header_title %} Créer un utilisateur {% endset %}
{% set header_content = "Remplissez le formulaire pour ajouter un utilisateur" %}

{% block body %}
    <div class="row d-flex justify-content-end mb-3">
        <div class="col-auto">
            <a href="{{ path('user_list') }}" class="btn btn-secondary">
                <i class="fas fa-users"></i> Retour à la liste des utilisateurs
            </a>
        </div>
    </div>

    {% form_theme form '_partials/radio-form.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.password.first) }}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.password.second) }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            {{ form_widget(form.roles) }}
        </div>
    </div>
     <div class="row my-3">
        <div class="col-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}