{% extends 'base.html.twig' %}

{% set header_title %} Modification de <strong>{{ user.username }}</strong> {% endset %}
{% set header_content = "Modifier les données du formulaire pour modifier l'utilisateur" %}

{% block body %}
    <div class="row d-flex justify-content-end mb-3">
        <div class="col-auto">
            <a href="{{ path('user_list') }}" class="btn btn-secondary">
                <i class="fas fa-users"></i> Retour à la liste des utilisateurs
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <label>Rôle : </label>{% if user.isAdmin %} Administrateur {% else %} Utilisateur {% endif %} <br>
                <label>Date de création : </label> {{user.createdAt | date('d/m/Y à H:i')}} <br>
                <label>Date de mise à jour : </label> {{user.updatedAt | date('d/m/Y à H:i')}} <br>
            </div>
        </div>
    </div>
    
    {% form_theme form '_partials/radio-form.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.password.first) }}
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                {{ form_row(form.password.second) }}
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_EDITION', user) %}
        <div class="row mb-3">
            <div class="col-md-6 col-12">
                {{ form_widget(form.roles) }}
            </div>
        </div>
    {% endif %}
     <div class="row my-3">
        <div class="col-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}