{% extends 'base.html.twig' %}

{% set header_title = 'Liste des utilisateurs' %}
{% set header_content = "Liste de tous les utilisateurs autorisés à utiliser l'application" %}

{% block body %}

    <div class="row d-flex justify-content-end my-3">
        <div class="col-md-auto">
            <a href="{{ path('user_create') }}" class="btn btn-info">
                <span class="fas fa-user-plus"></span> Créer un utilisateur
            </a>
        </div>
    </div>

    {% if users | length %}
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="w-5 d-none d-lg-table-cell">#</th>
                            <th class="w-15">Nom</th>
                            <th class="w-15 d-none d-lg-table-cell">Email</th>
                            <th class="w-15 d-none d-lg-table-cell">Date de création</th>
                            <th class="w-5 d-none d-lg-table-cell">Tâches</th>
                            <th class="w-15 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <th class="w-5 d-none d-lg-table-cell" scope="row">{{ loop.index }}</th>
                                <td class="w-15">{{ user.username | title }}</td>
                                <td class="w-15 d-none d-lg-table-cell">{{ user.email }}</td>
                                <td class="w-15 d-none d-lg-table-cell">{{ user.createdAt | date('d/m/Y à H:i') }}</td>
                                <td class="w-5 d-none d-lg-table-cell text-center">{{ user.tasks|length }}</td>
                                <td class="w-15 text-center">
                                    {% if is_granted('EDIT', user) %}
                                        <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                                    {% endif %}
                                    {% if is_granted('DELETE', user) %}
                                        <a href="{{ path('user_delete', {'id' : user.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="alert alert-dark" role="alert">
                Aucune utilisateur n'est encore enregistrée dans l'application.
                <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
